@charset "UTF-8";
.info_me,.pic_info_right{
    color: #fff;
}

#logo_top{
    background: #666;
    color: #fff;
}

.logo_top_1{
    margin-right: 20px;
}

.logo_top_1{
    background: #666;
    color: #fff;
}

#logo_top:hover{
    background: #000;
    color: #fff;
}

.logo_top_1:hover{
    background: #000;
    color: #fff;
}
.pic_number_1,.pic_number_2,.pic_number_3 {
    color: #fff;
}