@charset "UTF-8";

a{
    text-decoration: none;
    color: #777779;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #174262;
    font-weight: bold;
}

a:visited{
    text-decoration: none;
    color: #777779;
    font-weight: bold;
}

.main_left ul li a{
    font-size: 24px;
    font-weight: bold;
    color:#ffffff;
}

.main_left ul li a:hover{
    font-size: 24px;
    font-weight: bold;
    color:#ffffff;
}

.main_left ul li a:visited{
    font-size: 24px;
    font-weight: bold;
    color:#ffffff;
}
.pic_number_1,.pic_number_2,.pic_number_3 {
    color: #fff;
}

.pic_number_1:hover,.pic_number_2:hover,.pic_number_3:hover {
    color: #fff;
}

.pic_number_1:visited,.pic_number_2:visited,.pic_number_3:visited {
    color: #fff;
}